    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    <meta name="twitter:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@technonerdz" />
    <meta name="twitter:creator" content="@technonerdz" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    <meta property="og:url" content="https://felix.technology{{ site.baseurl }}{{ page.url }}" />
    <meta name="twitter:url" content="https://felix.technology{{ site.baseurl }}{{ page.url }}" />
    {% else %}
    <meta property="og:title" content="Félix Giffard" />
    <meta name="twitter:title" content="Félix Giffard" />
    <meta property="og:url" content="https://felix.technology/" />
    <meta name="twitter:url" content="https://felix.technology/" />
    {% endif %}
    {% if page.isarticle %}
    <meta property="og:type" content="article" />
    <meta name="article:author" content="{{ site.name }}" />
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="Félix Giffard" />
    {% else %}
    <meta property="og:type" content="website" />
    {% endif %}
    {% if page.img %}
    <meta property="og:image" content="https://felix.technology/images/{{ page.img }}" />
    <meta name="twitter:image" content="https://felix.technology/images/{{ page.img }}" />
    {% else %}
    <meta property="og:image" content="https://avatars1.githubusercontent.com/u/1951283?s=400" />
    <meta name="twitter:image" content="https://avatars1.githubusercontent.com/u/1951283?s=400" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    {% endif %}
